.nav-container {
  background-color: var(--pf-color-bg-secondary);
  color: var(--pf-color-font-primary);
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  max-width: 1400px;
}

.logo-text {
  font-size: 0.45em;
}

.link-text {
  font-size: 0.3em;
  font-weight: 700;
}

@media (min-width: 576px) {
  .nav-container {
    padding: 0 25px;
  }

  .logo-text {
    font-size: 0.5em;
  }

  .link-text {
    font-size: 0.35em;
  }
}
