@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --pf-color-bg-primary: #f2f2f2;
  --pf-color-bg-secondary: #830056;

  --pf-color-card-bg: #ffffff;
  --pf-color-card-border: #e1e1e1;

  --pf-color-btn-primary: #830056;

  --pf-color-font-primary: #ffffff;
  --pf-color-font-secondary: #1e1e1e;
  --pf-color-font-tertiary: #9e9e9e;
  --pf-color-font-quaternary: #830056;
}

* {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
}

html,
body {
  background-color: var(--pf-color-bg-primary);
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.base-card {
  background-color: var(--pf-color-card-bg);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.base-input {
  border-radius: 10px;
  border: 1px solid var(--pf-color-card-border);
  font-size: 0.38em;
  height: 50px;
  margin-top: 30px;
}

.base-input::placeholder {
  color: var(--pf-color-font-tertiary);
}
